:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    text-align: center;
}

/* Style for the chat container */
.chat-container {
  width: 300px;
  margin: 10px auto;
}

/* Style for the chat outputs */
.chat-output {
    display: flex;
    flex-direction: column;
}

/* Style for the chat bubbles */
.chat-bubble {
  background-color: rgb(221, 221, 223); /* Light gray */
  color: black;
  font-size: 0.8rem;
  text-align: start;
  border-radius: 15px;
  padding: 8px;
  margin: 5px;
  max-width: 70%; /* Adjust as needed */
  align-self: flex-start; /* User messages on the left */
}

/* Style for the user's chat bubbles */
.user-bubble {
  background-color: #007AFF; /* iOS blue color */
  text-align: left;
  color: white;
  align-self: flex-end; /* User messages on the right */
}

.chat-input {
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    resize: none;
    display: flex;
}

.chat-message {
    font-size: 0.8rem;
    border-radius: 15px;
    padding: 8px;
    margin: 5px;
    width: 100%;
    resize: none;
    position: relative;
    align-self: flex-start;
}

.send-button {
    border-radius: 15px;
    padding: 10px;
    background-color: #007AFF;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
    .chat-bubble {
      background-color: #3b3b3d; /* Light gray */
      color: white;
      font-size: 0.8rem;
      border-radius: 15px;
      padding: 8px;
      margin: 5px;
      max-width: 70%; /* Adjust as needed */
      align-self: flex-start; /* User messages on the left */
    /*  display: flex;*/
    /*  flex-direction: column;*/
    }
    
    .user-bubble {
        background-color: #007AFF; /* iOS blue color */
        text-align: left;
        align-self: flex-end; /* User messages on the right */
    }
}
